.custom-thead {
    background-color: #198754;
    height: 2px;
}


.custom-tbody {
    background-color: #198754;
}

.custom-button {
    background-color: red;
}

.custom-color {
    background-color: #198754;
}